{{ form_start(form, { 'attr': {'class': 'col-sm-6 form-horizontal'} }) }}
<div class="form-group">
    <div class="form-group">
        {{ form_label(form.departureAirport, 'departureAirport', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.departureAirport) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.arrivalAirport, 'arrivalAirport', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.arrivalAirport) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.departureDate, 'departureDate', { 'label_attr': {'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.departureDate) }}
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>
{{ form_end(form) }}

