{% extends "base.html.twig" %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3>Test API client</h3>

        {% include '@App/filter_form.html.twig' %}

    </div>
{% endblock %}
