{% extends "base.html.twig" %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="page-title"> Search Results</h1>

        <div class="row">
            <div class="col-md-6">
                {% include '@App/error.html.twig' %}
            </div>
            <div class="col-md-6">
                {% if results.search_results is defined %}
                    <table class="table table-condensed table-hover table-striped">
                        <tr>
                            <th>Flight number</th>
                            <th>Transporter</th>
                            <th>Departure airport</th>
                            <th>Arrival airport</th>
                            <th>Departure time</th>
                            <th>Arrival time</th>
                            <th>Duration</th>
                        </tr>
                        {% for flight in results.search_results %}
                            <tr>
                                <td align="center">{{ flight.flight_number }}</td>
                                <td align="center">{{ flight.transporter.name }} ({{ flight.transporter.code }})</td>
                                <td align="center">{{ flight.departure_airport }}</td>
                                <td align="center">{{ flight.departure_date_time|date('Y-m-d H:i:s') }}</td>
                                <td align="center">{{ flight.arrival_date_time|date('Y-m-d H:i:s') }}</td>
                                <td align="center">{{ flight.duration }} min</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
